
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

$site-font: 'Merriweather', serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
